<!-- Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalupload">
    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp;&nbsp;Upload
</button>

<div class="modal fade" id="modalupload" tabindex="-1" role="dialog" aria-labelledby="modalupload" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Choose the extension to export your data.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UploadFile",
                                            "Home",
                                            FormMethod.Post,
                                            new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body" id="modalOkCancelText">
                    <label for="file">Upload File:</label>
                    <input type="file" name="file" id="file" onchange="ValidateUploadedFile(this)" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp;&nbsp;Upload
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            }
            </div>
        </div>
    </div>
